<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Word</title>
</head>
<body>

<h1 th:if="${messageSuccess}" style="color:green">File Upload Successful!!!!</h1>
<h1 th:if="${messageFail}" style="color: red">File Upload Fail!!!</h1>

    <form th:action="@{/search}" method="get">
        <table>
            <tr><td>Search Word: </td></tr>
            <tr><td><input type="text" name="word"></td></tr>
            <tr></tr>
            <tr><td><input type="submit" value="search"></td></tr>
        </table>
        <table>
            <tr th:each="word : ${listOfWord}">
                <td th:text="${word.getWord()}">Word</td>
            </tr>
        </table>
    </form>

</body>
</html>